{{ define "main" }}
<p class="right-p" >
<a target="_blank" href="{{ .Site.Params.rssURL }}" rel="noreferrer noopener">{{ partial "rss.html" }}</a></p>
  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            -
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
          <span class="posts-list-item-summary">
            {{ .Summary }}
            {{- if .Truncated }}
            <a href="{{ .RelPermalink }}">Read more...</a>
            {{- end }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
